@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM Sans, sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-image: linear-gradient(102.7deg,
      #fddaff 8.2%,
      #dfadfc 19.6%,
      #adcdfc 36.8%,
      #adfcf4 73.2%,
      #caf8d0 90.9%);

  .App-container {
    width: 30%;
    min-width: 415px;
    background-color: inherit;

    @media screen and (max-width: 992px) {
      width: 50%;
    }

    @media screen and (max-width: 768px) {
      width: 60%;
    }

    @media only screen and (max-width: 600px) {
      width: 75%;
    }
  }
}