header {
    width: 100%;
    padding: 20px 20px 0 20px;
    font-size: 0.8rem;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    h2 {
        font-weight: 600;
    }
}